<h1>Enter the code from your authenticator app</h1>

<p>A 6-digit code has been set up in your <strong>Google Authenticator</strong> app. Enter the code in the box below and then click <strong>Verify</strong>.</p>

<p><%= flash[:notice] %></p>

<%= form_tag([resource_name, :two_factor_authentication], :method => :put) do %>

  <div class="form-group">
    <%= label_tag 'code', 'Enter the 6-digit code' %>
    <%= text_field_tag :code, class:'form-control' %>
  </div>

  <%= submit_tag 'Verify', :role => 'button', :class => 'UIK-button btn btn-primary' %>

<% end %>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
