<%

  # Layout based off
  # https://github.com/AusDTO/gov-au-beta/blob/develop/app/views/devise/unlocks/new.html.haml

  content_for :title, 'Unlock Form'
  content_for :description, 'Performance Dashboard Unlock Form'
%>

<h1>Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, 'Email address' %>
    <%= f.email_field :email, autofocus: true, class:'form-control' %>
  </div>

  <%= f.submit "Resend instructions", :role => 'button', :class => 'UIK-button btn btn-primary' %>

<% end %>


<div class="form-ctas">
  <%= render "devise/shared/links" %>
</div>

