<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in - Performance Dashboards</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" />
  <%
    #
    # Production mode or not required for webpack-dev-server mode
    #
    if !(Rails.env.development? && ENV['DEV_SERVER'] == 'true') %>
    <%= stylesheet_link_tag 'login.css' %>
  <% end %>
</head>
<body class="login <%= body_class(yield(:body_class_names)) %>">

  <%= render :partial => './partials/govau-header'%>

  <main role="main" class="login__main">
    <article>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 offset-md-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </article>
  </main>

  <%
    #
    # Production mode or webpack-dev-server mode
    #
    if !(Rails.env.development? && ENV['DEV_SERVER'] == 'true') %>
    <%= javascript_include_tag 'login.js' %>
  <% else %>
    <script src="http://localhost:8080/javascripts/login.js"></script>
  <% end %>
</body>
</html>
