<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in - Performance Dashboards</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <%= public_stylesheet('app_shell') %>
  <%= public_stylesheet('login') %>
</head>
<body class="login <%= body_class(yield(:body_class_names)) %>">

  <div>
    <section>
      <%= render :partial => "partials/phase-banner" %>
    </section>

    <header class="main__header">
      <%= render :partial => "partials/header" %>
    </header>
  </div>

  <main role="main" class="login__main">
    <article>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 offset-md-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </article>
  </main>

  <footer class="main__footer">
    <%= render :partial => "partials/footer" %>
  </footer>


  <%= public_javascript('app_shell') %>
  <%= public_javascript('login') %>
</body>
</html>
